<div class="col-md-6 offset-md-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/cliente">Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producto">Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sede">Sede</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card">
        <div class="card-header">
            <h2>¿Que deseas hacer?</h2>
        </div>
        <div class="card-footer">
            <p>A través del siguiente aplicativo podrás llevar un control de tus productos y clientesm los cuales podrás registrar, así como los productos que vendes y demás.</p>
            <p>Es de aclarar que es algo básico donde aún falta el registro de las ventas dado que la intensión es poder ingresar al usuario y llevar a la compra de alguno de los productos que ofrecemos, por lo que se pretendía en un principio hacer 2 roles una ADM y otro de asesor para cumplir con el objetivo, pero por falta de tiempo quedaré pendiente</p>
        </div>
    </div>

</div>